<ion-header>
  <ion-toolbar>
    <ion-title>Liste des utilisateurs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label padding-start="9"
        ><ion-text>
          <h1>
            Nom, Prenom
          </h1>
        </ion-text>
      </ion-label>
      <ion-label>
        <ion-text style="float: left;">
          <h1>
            Email
          </h1>
        </ion-text>
      </ion-label>
      <ion-label padding-end="9"
        ><ion-text style="float: right;">
          <h1>
            Type
          </h1></ion-text
        ></ion-label
      >
    </ion-item>
    <ion-item *ngFor="let e of users">
      <ion-label padding-start="9">{{ e.fname }},{{e.lname}} </ion-label>
      <ion-label>
        <ion-text style="float: left;">
          {{ e.email }}
        </ion-text>
      </ion-label>
      <ion-label padding-end="9"
        ><ion-text style="float: right;">{{ e.type }}</ion-text></ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>
