<app-header></app-header>
<ion-content>
  <ion-card>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <ion-list>
        <ion-item no-lines>
          <ion-icon class="iconstyle" name="md-contacts" item-start></ion-icon>
          <ion-label floating color="primary">Sexe</ion-label>
          <ion-select class="mydate" formControlName="gender" class="textcolor" value="gender" formControlName="gender">
            <ion-select-option *ngFor="let item of genderlist" value="{{item.key}}">{{item.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Domaine d'études</ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="orientation"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.orientation">
          <ng-container *ngIf="orientation.hasError(error.type) && (orientation.dirty || orientation.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input inputmode="tel" formControlName="phone"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.phone">
          <ng-container *ngIf="phone.hasError(error.type) && (phone.dirty || phone.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-list>
      <ion-button [disabled]="!registrationForm.valid" type="submit" expand="block">Submit <ion-icon slot="end"
          name="create">
        </ion-icon>
      </ion-button>
    </form>
  </ion-card>
</ion-content>
<app-footer></app-footer>