<ng-template #mobile>
  <ion-footer>
    <ion-toolbar>
      <ion-title>© Polytechnique Montréal 2020</ion-title>
    </ion-toolbar>
  </ion-footer>
</ng-template>

<ng-template #desktop>
  <ion-footer>
    <ion-toolbar>
      <ion-title>© Polytechnique Montréal 2020</ion-title>
    </ion-toolbar>
  </ion-footer>
</ng-template>

<ng-container *ngTemplateOutlet="isMobile ? mobile : desktop"></ng-container>
