<app-teams-header (featureSelected)="onNavigate($event)">
</app-teams-header>

<!-- <ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-display-teams
          *ngIf="loadedFeature === 'ShowTeam'"
        ></app-display-teams
      ></ion-col>
      <ion-col>
        <app-edit-teams *ngIf="loadedFeature !== 'ShowTeam'"></app-edit-teams
      ></ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-content>

  <app-display-teams *ngIf="loadedFeature === 'ShowTeam'"></app-display-teams>

  <app-edit-teams *ngIf="loadedFeature !== 'ShowTeam'"></app-edit-teams>
</ion-content>
