<ng-template #mobile>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons>
        <ion-button (click)="gotoHome()">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Polyteam</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ng-template>

<ng-template #desktop>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons>
        <ion-button slot="start" (click)="gotoHome()">
          <ion-icon name="home"></ion-icon>
        </ion-button>
        <ion-title>Polyteam</ion-title>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ng-template>

<ng-container *ngTemplateOutlet="isMobile ? mobile : desktop"></ng-container>