<ng-template #desktop>
  <ion-content forceOverscroll="false">
    <ion-button size="large" expand="block" (click)="addNewTeam()">Ajouter équipe</ion-button>
    <ion-grid>
      <ion-row no-padding class="matrix">
        <ion-col size="4" class="q1" *ngFor="let item of loadedClass">
          <ion-card>
            <ion-card-header color="medium">
              <ion-card-title><span>{{ item.id }}</span>
                <ion-icon style="float: right;" name="close-circle" (click)="dissolveTeam(item.id)"></ion-icon>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list dragula="bag" [(dragulaModel)]="item.members" lines="none">
                <ion-item *ngFor="let el of item.members" expand="block" text-wrap>
                  {{ el.email }}
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button size="large" expand="block" (click)="updateTeamsList()">Soumettre</ion-button>
  </ion-content>
</ng-template>

<ng-template #mobile>
  <ion-content forceOverscroll="false">
    <ion-button size="large" expand="block" (click)="addNewTeam()">Ajouter équipe</ion-button>
    <ion-grid>
      <ion-row no-padding class="matrix">
        <ion-col size="6" class="q1" *ngFor="let item of loadedClass">
          <ion-card>
            <ion-card-header color="medium">
              <ion-card-title><span>{{ item.id }}</span>
                <ion-icon style="float: right;" name="close-circle" (click)="dissolveTeam(item.id)"></ion-icon>
                >
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list dragula="bag" [(dragulaModel)]="item.members" lines="none">
                <ion-item *ngFor="let el of item.members" expand="block" text-wrap>
                  {{ el.email }}
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button size="large" expand="block" (click)="updateTeamsList()">Soumettre</ion-button>
  </ion-content>
</ng-template>

<ng-container *ngTemplateOutlet="isMobile ? mobile : desktop"></ng-container>

<app-footer></app-footer>