<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center style="font-weight: initial; font-size: 25px; color: rgb(3, 23, 82);">
        Bienvenue {{teacher.fname}}
        <ion-icon md="md-person" style="font-size: 20px;" (click)="gotoEditTeacherProfile()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col>
        <label for="file-input" style="cursor: pointer;">
          <ion-avatar class="center">
            <ion-img src="{{teacher.profilepic | image}}"></ion-img>
          </ion-avatar>
        </label>
        <input id="file-input" type="file" style="display: none;" accept=".png,.jpg,.jpeg,.jfif,.bmp"
          (change)="uploadProfilePic($event.target.files)" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-row>
          <ion-col> </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-card-title>
            <h1 style="font-weight: bold; color: #575c61;">
              <ion-icon name="school"></ion-icon> Liste de Cours
            </h1>

            <span *ngIf="teacher.courses.length === 0"> Aucun Cours</span>
            <ion-item *ngFor="let course of teacher.courses">
              <ion-label>{{course | acronym}}</ion-label>
              <ion-badge *ngIf="course.locked" [color]="badgeColor(course.completedProfiles)">
                {{ course.completedProfiles.toFixed(2) }} %
              </ion-badge>
              <ion-icon *ngIf="course.locked" name="rocket" slot="end" color="secondary"
                (click)="createTeams(course.courseId)"></ion-icon>
              <ion-icon name="settings" slot="end" color="primary" [routerLink]="['./',course.courseId]"></ion-icon>
            </ion-item>
          </ion-card-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title>
            <h1 style="font-weight: bold; color: #575c61;">
              <ion-icon name="add-circle"></ion-icon> Ajout d'un cours
            </h1>
          </ion-card-title>

          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label style="color: #757c83;">
              Vous pouvez glisser le fichier ici pour l'ajouter.
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </ion-card>

        <form #form="ngForm" (ngSubmit)="upload(form)">
          <ion-card>
            <ion-card-title>
              <h1 style="font-weight: bold; color: #575c61;">
                <ion-icon name="construct"></ion-icon> Configuration
              </h1>
            </ion-card-title>

            <ion-list>
              <ion-list-header style="color: #575c61;">
                Nombre d'étudiants par équipe
              </ion-list-header>
              <ion-item>
                <ion-range id="dual-range" dual-knobs pin color="primary" min="1" max="10" step="1" ticks="true"
                  snaps="true" [(ngModel)]="nbUsers" name="nbUsers" required>
                  <ion-icon slot="start" name="person" color="primary"></ion-icon>
                  <ion-icon slot="end" name="person" color="primary"></ion-icon>
                </ion-range>
              </ion-item>
            </ion-list>

            <ion-list>
              <ion-list-header style="color: #757c83;">
                Comment voulez-vous former les équipes?
              </ion-list-header>
              <ion-item>
                <ion-select name="creationType" placeholder="Select One" ngModel>
                  <ion-select-option value="AUTO">Automatique</ion-select-option>
                  <ion-select-option value="MANUAL">Manuel</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

            <ion-list>
              <ion-list-header style="color: #757c83;">
                Quel algorithme souhaitez-vous utiliser?
              </ion-list-header>
              <ion-item>
                <ion-select name="algorithm" placeholder="Select One" ngModel>
                  <ion-select-option value="RANDOM">Aléatoire</ion-select-option>
                  <ion-select-option value="MBTI">Mbti</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-card>

          <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Soumettre</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>