<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un utilisateur</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-card-header>Nouveau Utilisateur</ion-card-header>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="submit(form)">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" id="email" name="email" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Prénom</ion-label>
            <ion-input type="fname" id="fname" name="fname" ngModel></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input type="lname" id="lname" name="lname" ngModel></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Type</ion-label>
            <ion-select name="type" placeholder="Select One" ngModel>
              <ion-select-option value="ADMIN">Admin</ion-select-option>
              <ion-select-option value="TEACHER">Professeur</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <div margin-vertical text-right>
          <ion-button id="btn-add" type="submit"
            ><ion-icon slot="start" name="add"></ion-icon>Submit
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card-content>
</ion-content>
