<app-header></app-header>

<ion-content>
  <ion-title padding-top="3" text-center>Page Administrateur</ion-title>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Gestion
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-button size="block" (click)="onUsersListClick()"
            >Liste des utilisateurs
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button expand="block" (click)="onAddUserClick()"
            >Ajouter un nouveau utilisateur</ion-button
          >
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card position="relative" margin-top="100%">
      <ion-card-header>
        <ion-card-title>Réinitialisation</ion-card-title>
        <ion-card-subtitle>
          Ce bouton effeacera tous les cours dans la base de données et le
          sauvegarde dans un backup - Veuillez l'utiliser seulement au debut de
          la session pour réinitialiser les cours de chaque professeur
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Backup name</ion-label>
          <ion-input
            type="text"
            [(ngModel)]="backupId"
            id="backup-id"
            ngModel
          ></ion-input>
        </ion-item>

        <div margin-vertical text-right>
          <ion-button slot="end" color="danger" (click)="onResetClick()">
            Ré-initialiser
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
