<ng-template #mobile> </ng-template>

<ng-template #desktop> </ng-template>

<app-header></app-header>

<ion-content color="white" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Se connecter en tant qu'administrateur</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input
                name="email"
                type="email"
                placeholder="Nom d'utilisateur"
                ngModel
                required
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                name="password"
                type="password"
                placeholder="Mot de passe"
                ngModel
                required
              ></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button
              size="large"
              type="submit"
              [disabled]="form.invalid"
              expand="block"
              >Se connecter</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ng-container *ngTemplateOutlet="isMobile ? mobile : desktop"></ng-container>
<app-footer></app-footer>
