<ion-header xmlns:lockSwipeToNext>
  <ion-toolbar>
    <ion-title text-center style="font-weight: bold; font-size: 30px; color: #2c7ce6;">Test de personalité</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides>
    <ion-slide *ngFor="let part of MBTIForm; let i = index">
      <ion-card>
        <ion-card-header>{{part.title}}</ion-card-header>
        <ion-card-content>
          <ion-list style="height: 70vh; overflow-y: scroll;">
            <ion-input type="hidden" value="{{part.id}}" [(ngModel)]="MBTIAnswerForm[i].id"></ion-input>
            <ion-radio-group *ngFor="let question of part.questions; let j = index"
              [(ngModel)]="MBTIAnswerForm[i].answers[j].answer">
              <ion-input type="hidden" value="{{question.id}}" [(ngModel)]="MBTIAnswerForm[i].answers[j].id">
              </ion-input>
              <ion-list-header>
                <ion-label class="ion-text-wrap">{{question.question}}</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label class="ion-text-wrap">{{question.a1}}</ion-label>
                <ion-radio slot="start" value="a1"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label class="ion-text-wrap">{{question.a2}}</ion-label>
                <ion-radio slot="start" value="a2"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer style="display: flex; justify-content: space-around;">
  <ion-button color="primary" slot="start" (click)="previous()" [disabled]="isSliderStart">Précedent</ion-button>
  <ion-button color="primary" slot="end" (click)="sendForm()">Envoyer</ion-button>
  <ion-button color="primary" slot="end" (click)="next()" [disabled]="isSliderEnd">Suivant</ion-button>
</ion-footer>