<!-- <ion-content>
  <ion-row>
    <ion-title> Liste des équipe formées</ion-title>
  </ion-row>

  <ion-grid>
    <ion-list *ngFor="let team of loadedClass">
      <ion-col size="7">
        <ion-card size="6">
          <ion-card-header>
            <ion-card-title>{{ team.id }}</ion-card-title>
          </ion-card-header>

          <ion-card-content *ngFor="let member of team.members">
            <ion-row>
              {{ member }}
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-list>
  </ion-grid>
</ion-content> -->

<ion-content>

  <ion-item-divider color="secondary">
    <ion-title no-padding>
      Liste des équipes formées
    </ion-title>
    <span>
      <ion-button
              color="dark"
              fill="solid"
              slot="right"
              (click)="exportTeams(this.teams)"
      >Exporter les équipes
      <ion-icon name="download"></ion-icon>
      </ion-button>
    </span>
  </ion-item-divider>

  <!-- Item Dividers in a List -->
  <ion-list *ngFor="let team of loadedClass">
    <ion-item-divider>
      <ion-title no-padding>
        {{ team.id }}
      </ion-title>
      <!-- <ion-text>{{ team.full }}</ion-text> -->
      <div *ngIf="team.full">
        Equipe complete
        <ion-icon name="battery-full"></ion-icon>
      </div>
      <div *ngIf="!team.full">
        Equipe Incomplete!
        <ion-icon name="battery-half"></ion-icon>
      </div>
    </ion-item-divider>

    <ion-item *ngFor="let member of team.members">

      <ion-label padding-start="9">{{ member.fname }} {{ member.lname }} <a href="mailto:{{member.email}}">
        <ion-icon style="float: right;" name="mail"></ion-icon>
      </a></ion-label></ion-item
    >
  </ion-list>
  <ion-button
          color="primary"
          slot="right"
          (click)="exportTeams(this.teams)"
  >Exporter les équipes</ion-button>
</ion-content>
