<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center style="font-weight: initial; font-size: 25px; color: rgb(3, 23, 82);">
        Bienvenue {{student.fname}}
        <ion-icon md="md-person" style="font-size: 20px;" (click)="gotoEditProfile()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label for="file-input" style="cursor: pointer;">
          <ion-avatar class="center">
            <ion-img src="{{student.profilepic | image}}"></ion-img>
          </ion-avatar>
        </label>
        <input id="file-input" type="file" style="display: none;" accept=".png,.jpg,.jpeg,.jfif,.bmp"
          (change)="uploadProfilePic($event.target.files)" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-row>
          <ion-col> </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-row>
        <ion-col>
          <ion-card-title>
            <h1 style="font-weight: bold; color: #575c61;">
              <ion-icon name="school"></ion-icon> Liste de Cours
            </h1>
          </ion-card-title>
          <ion-card (click)="expandItem(item)" *ngFor="let item of items">
            <ion-card-header>
              <ion-card-title>{{item.course | acronym}}</ion-card-title>
              <ion-icon name="arrow-forward" slot="end" color="primary"></ion-icon>
            </ion-card-header>

            <ion-card-content>
              <app-expandable expandHeight="100px" [expanded]="item.expanded">
                <ion-button [disabled]="item.course.locked" size="small" shape="round"
                  (click)="gotoCourse(item.course)">
                  <ion-icon md="md-person"></ion-icon>
                  Suggestion personnalisée
                </ion-button>
                <ion-button size="small" shape="round" (click)="gotoCreateTeamCode(item.course)">
                  <ion-icon md="md-person"></ion-icon>
                  gérer mon équipe
                </ion-button>
              </app-expandable>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>

<app-footer></app-footer>