<ng-template #mobile>
  <ion-button
    style="margin-bottom: 100px;"
    routerLink="/user-home"
    shape="round"
    fill="outline"
  >
    Entrée des étudiants
  </ion-button>
  <ion-button
    style="margin-bottom: 100px;"
    routerLink="/teacher-home"
    shape="round"
    fill="outline"
  >
    Entrée des professeurs
  </ion-button>
</ng-template>

<ng-template #desktop>
  <div
    text-center
    style="
      width: 50%;
      align-self: center;
      display: flex;
      margin-bottom: 100px;

      justify-content: space-around;
    "
  >
    <ion-button
      text-center
      routerLink="/user-home"
      shape="round"
      fill="outline"
    >
      Entrée des étudiants
    </ion-button>
    <ion-button
      text-center
      routerLink="/teacher-home"
      shape="round"
      fill="outline"
    >
      Entrée des professeurs
    </ion-button>
  </div>
</ng-template>

<app-header></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img class="left" src="../../../assets/images/Logo.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col
        text-center
        style="font-weight: bold; font-size: 25px; color: rgb(3, 23, 82);"
      >
        Bienvenue dans Polyteam
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-container *ngTemplateOutlet="isMobile ? mobile : desktop"></ng-container>

<app-footer></app-footer>
