<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        text-center
        style="font-weight: bold; font-size: 20px; color: rgb(3, 23, 82);"
        >Sélectionner la photo de profil
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <label for="file-input" style="cursor: pointer;">
          <ion-avatar class="center">
            <ion-img src="{{student.profilepic | image}}"></ion-img>
          </ion-avatar>
        </label>
        <input
          id="file-input"
          type="file"
          style="display: none;"
          accept=".png,.jpg,.jpeg,.jfif,.bmp"
          (change)="uploadProfilePic($event.target.files)"
        />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-row>
          <ion-col style=" color: #575c61;font-size: 20px;" text-center
            >{{student.fname}} {{student.lname}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center style=" color: #575c61;font-size: 20px;"
            >{{student.email}}</ion-col
          >
        </ion-row>
        <ion-row>
          <ion-col
            text-center
            style="font-weight: bold; font-size: 20px; color: rgb(3, 23, 82);"
            >Type de personnalité:
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="  color: #575c61;font-size: 20px;">
            {{student.personality | personality}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-input
              style=" color: #575c61;"
              type="password"
              placeholder="Changer ici votre mot de passe"
              [(ngModel)]="password"
            ></ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button
              style="color: #373a3d;"
              (click)="updatePassword()"
              size="small"
              shape="round"
            >
              Enregistrer le profil
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
