<ng-template #mobile> </ng-template>
<ng-template #desktop> </ng-template>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>Félicitation, un match a été détecté </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="gotoTeam()" color="success" expand="block">Gérer votre équipe</ion-button>
        <ion-button color="danger" (click)="closePopover()" expand="block">Non, Merci</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-container *ngTemplateOutlet="isMobile ? mobile : desktop"></ng-container>