<ng-template #mobile>
  <ion-content padding>
    <ion-slides #slides>
      <span *ngIf="teams.length === 0" style="margin-top: 40vh; text-align: center;">Il ne reste plus d'étudiants dans
        votre classe à évaluer.</span>
      <ion-slide *ngFor="let team of teams; let i = index">
        <ion-card>
          <ion-card-header>
            <ion-slides>
              <ion-slide *ngFor="let user of team; let j = index" style="display: flex; flex-direction: column;">
                <ion-badge *ngIf="team.length > 1" color="success" slot="start">TEAM MEMBER</ion-badge>
                <ion-card>
                  <ion-card-content><img style="width: auto; height: auto;" src="{{user.profilepic | image}}" />
                  </ion-card-content>
                  <ion-card-title>{{ user.fname }} {{ user.lname }}</ion-card-title>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </ion-card-header>

          <ion-card-content>
            <ion-button slot="end" color="danger" (click)="likeUser(team[0].email, -2, i)">
              <ion-icon name="sad"></ion-icon>
            </ion-button>

            <ion-button slot="end" color="danger" (click)="likeUser(team[0].email, -1, i)">
              <ion-icon name="thumbs-down"></ion-icon>
            </ion-button>
            <ion-button slot="end" color="success" (click)="likeUser(team[0].email, 1, i)">
              <ion-icon name="thumbs-up"></ion-icon>
            </ion-button>
            <ion-button slot="end" color="success" (click)="likeUser(team[0].email, 2, i)">
              <ion-icon name="happy"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ng-template>

<ng-template #desktop>
  <ion-content padding>
    <ion-slides #slides>
      <span *ngIf="teams.length === 0" style="margin-top: 40vh; text-align: center;">Il ne reste plus d'étudiants dans
        votre classe à évaluer.</span>
      <ion-slide *ngFor="let team of teams; let i = index">
        <ion-card>
          <ion-card-header>
            <ion-slides>
              <ion-slide *ngFor="let user of team; let j = index">
                <ion-card>
                  <img style="width: auto; height: auto;" src="{{user.profilepic | image}}" />
                  <ion-card-title>{{ user.fname }} {{ user.lname }}</ion-card-title>
                  <ion-badge color="success" slot="end">100%</ion-badge>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </ion-card-header>

          <ion-card-content>
            <ion-button slot="end" color="danger" (click)="likeUser(team[0].email, -2, i)">
              <ion-icon name="sad"></ion-icon>
            </ion-button>

            <ion-button slot="end" color="danger" (click)="likeUser(team[0].email, -1, i)">
              <ion-icon name="thumbs-down"></ion-icon>
            </ion-button>
            <ion-button slot="end" color="success" (click)="likeUser(team[0].email, 1, i)">
              <ion-icon name="thumbs-up"></ion-icon>
            </ion-button>
            <ion-button slot="end" color="success" (click)="likeUser(team[0].email, 2, i)">
              <ion-icon name="happy"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-content>
</ng-template>

<app-header></app-header>
<ion-toolbar color="primary">
  <ion-title>Suggestions des utilisateurs</ion-title>
  <ion-buttons slot="start">
    <ion-button routerLink="/user-home">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ng-container *ngTemplateOutlet="isMobile ? mobile : desktop"></ng-container>
<app-footer></app-footer>