<app-header></app-header>
<ion-toolbar color="dark">
  <ion-buttons slot="secondary">
    <ion-button fill="solid" (click)="onSelect('ShowTeam')">
      <ion-icon name="people"></ion-icon>
      Afficher les équipes
    </ion-button>
  </ion-buttons>
  <ion-title>Gestion des équipes</ion-title>
  <ion-buttons slot="primary">
    <ion-button fill="solid" color="secondary" (click)="onSelect('teamEdit')">
      Modifier les équipes
      <ion-icon name="color-wand"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
