<app-header></app-header>

<ion-content>
  <ion-grid>

    <ion-card>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Mon équipe actuel</ion-card-title>
              <ion-card-subtitle>État:
                <span *ngIf="this.team.ready==false; else elseBlock">non Complète
                  <ion-button *ngIf="!validated" color="primary" slot="right" (click)="_validateTeam(this.course)">
                    valider mon équipe
                  </ion-button></span>
                <ng-template #elseBlock>Complète </ng-template>

              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>

              <ion-card *ngFor="let user of this.team.users">
                <ion-card-header>
                  <ion-card-title>{{user.fname}} {{user.lname}}
                    <a href="mailto:{{user.email}}">
                      <ion-icon style="float: right;" name="mail"></ion-icon>
                    </a>
                  </ion-card-title>
                </ion-card-header>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card [disabled]="this.courseID.locked">

            <ion-card-header (click)="gotoCourse(this.courseID)">
              <ion-card-title>
                <span>Suggestion personnalisée</span>
                <ion-icon style="float: right;" name="more"></ion-icon>
              </ion-card-title>

            </ion-card-header>

            <ion-card-content>
              <app-expandable expandHeight="100px" [expanded]="items[0].expanded">



              </app-expandable>
            </ion-card-content>
          </ion-card>
          <ion-card [disabled]="this.courseID.locked">
            <ion-card-header (click)="expandItem(items[1])">
              <ion-card-title>
                <span>Se joindre à une équipe</span>
                <ion-icon style="float: right;" name="more"></ion-icon>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-expandable expandHeight="150px" [expanded]="items[1].expanded">
                <ion-card-subtitle>Entrez le code de l'équipe que vous voulez rejoindre:</ion-card-subtitle>
                <ion-item>
                  <ion-input name="code" type="text" placeholder="entrez le code de l'équipe" [(ngModel)]="joinCode"
                    required></ion-input>
                </ion-item>
                <ion-button type="submit" expand="block" (click)="_joinTeam()">Se joindre à l'équipe</ion-button>
              </app-expandable>
            </ion-card-content>
          </ion-card>
          <ion-card [disabled]="this.courseID.locked">
            <ion-card-header (click)="expandItem(items[2])">
              <ion-card-title>
                <span>Créer mon équipe</span>
                <ion-icon style="float: right;" name="more"></ion-icon>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-expandable expandHeight="100px" [expanded]="items[2].expanded">
                <ion-card-subtitle>Copiez le code suivant et envoyez le aux coéquipiers avec lesquels vous souhaitez
                  travailler.</ion-card-subtitle>
                <input type="text" value="{{this.code.code}}" #codeinput>
                <ion-button (click)="copyInputMessage(codeinput)" value="">
                  <ion-icon name="copy"></ion-icon>
                </ion-button>

              </app-expandable>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>